<footer class="w-full bg-green-800 text-white p-1 md:p-2 lg:p-3">
  <nav class="flex flex-col lg:flex-row items-center justify-center gap-4 text-xs sm:text-sm md:text-base lg:text-lg">
    <div class="flex gap-2 md:gap-3 lg:gap-4">
      <%= link_to t("defaults.terms_of_service"), "https://kiyac.app/termsOfService/irLBMVrx7DpxxxTkrJTj", class: "text-white underline hover:no-underline transition-colors duration-200", target: "_blank", rel: "noopener" %>
      <%= link_to t("defaults.privacy_policy"), "https://kiyac.app/privacypolicy/EUhTMocT4INUTEElzvoq", class: "text-white underline hover:no-underline transition-colors duration-200", target: "_blank", rel: "noopener" %>
      <%= link_to "https://x.com/RiceBallRecipe", class: "text-white hover:text-green-200 transition-colors duration-200 inline-flex items-center", target: "_blank", rel: "noopener" do %>
        <svg aria-label="X logo" width="16" height="16" viewBox="0 0 300 271" fill="currentColor" xmlns="http://www.w3.org/2000/svg" class="inline-block">
          <path d="m236 0h46l-101 115 118 156h-92.6l-72.5-94.8-83 94.8h-46l107-123-113-148h94.9l65.5 86.6zm-16.1 244h25.5l-165-218h-27.4z" />
        </svg>
      <% end %>
    </div>
    <span>©2025 おにぎりレシピ - All right reserved</span>
  </nav>
</footer>
