<header class="w-full max-w-screen-xl sticky top-0 z-20 bg-white border-b border-green-200 rounded-lg shadow-sm p-1 md:p-2 lg:p-3">
  <nav class="flex items-center justify-between">
    <div class="flex-1">
      <%= link_to root_path, class: "inline-flex items-center px-4 py-2 text-green-700 hover:text-green-900 hover:bg-green-50 rounded-lg transition-colors duration-200" do %>
        <%= image_tag "onigiri.png", alt: "Onigiri logo", class: "h-12 w-12" %>
        <span class="text-xs sm:text-sm md:text-base lg:text-lg font-bold"><%= t("defaults.service_title") %></span>
      <% end %>
    </div>
    <div class="flex-none">
      <%= button_to t("shared.header.logout"), destroy_user_session_path, method: :delete, class: "px-3 py-1.5 md:px-4 md:py-2 text-sm md:text-base text-white bg-green-600 hover:bg-green-700 rounded-md transition-colors duration-200 font-medium" %>
    </div>
  </nav>
</header>
